*{
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
 }

.App {
  /* text-align: center; */
  height: 100vh;
  width: 100%;
  /* background-color: blue; */
}

.Body {
  height: 100%;
  width: 85%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 20vh;
  left: 15% ;

  /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em ; */
}

.Header {
  position: relative;
  height: 20vh;
  width: 100%;
  background-color: #60777f;
}

.HeaderImage {
  height: 15vh;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.HeaderText {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family:cursive;
  font-size: 2.5em ;
}

.SideNavbar {
  height: 100%;
  width: 15%;
  background-color: #60777f;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5em ;
}

.SideNavbarItems {
  color: white;
  padding-left: 10px;
  padding-bottom: 10px;
  margin: 10px;

}

.SideNavBarSubItems {
  padding-left: 10px;
  /* margin: 10px; */
  font-size: 0.85em ;
  text-decoration: none;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */


